*{
    margin:0%;
    padding: 0%;
}
body {
  margin: 0%;
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  /* background-color: #fff; */
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  letter-spacing: 1.5px;
}
/* Aninmation coding by jegan */
@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width:auto;
    color:#fff;
    background-color: transparent;
    border: 0.1px solid #212121; 
}
.Profile-right{
    position:absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: 2;
    
}
.container-left{
    position:absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);
    z-index: 2;
}
.Profile-img{
    /* border: conic-gradient(#fd004c,#fe9800,#fff020,#3edf4b,#3363ff,#b102b7,#fd004c); */
    /* box-shadow:0 20px 35px rgba(255,255,255,0.2); */
    border-radius:100%;
    max-width:250px;
    border-width: 15px;
    box-shadow: -5px -2px 4px rgb(227 135 255 ),
    5px 5px 4px rgb(255 219 57 ),
    5px -2px 4px rgb(118 255 255 ),
    0 0 2px 5px rgb(255 255 255 );
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.nav ul li{
    padding-left: 25px;
    cursor:pointer;
}
/* .container-body{
    display: block;
    margin: 150px 45px 0px 65px;
} */
.butt{
    color:#fff;
    padding:12px;
    letter-spacing: 2px;
    background-color:#2e3749;
    border:none;
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight:bold;
}
.butt1{
    color:#2e3749 !important;
    padding:12px;
    letter-spacing: 2px;
    background-color:#ffd470;
    border:none;
    border-radius: 4px;
    padding-left: 14px;
    padding-right: 14px;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
}
.small-card{
    position: absolute;
    top: 65%;
    max-width: 210px;
    right: 7%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 12%);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: float 3s ease-in-out infinite;
    display: flex;  
}
@keyframes float{
    0%{
        box-shadow: 0 5px 15px 0px rgb(0 0 0 / 11%);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgb(0 0 0 / 4%);
        transform: translatey(-10px);
    }
    
    100% {
        box-shadow: 0 5px 15px 0px rgb(0 0 0 / 14%);
        transform: translatey(0px);
    }
}
